* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: "Open Sans";
}

button {
    color: white;
    padding: 10px;
    width: 9rem;
    font-size: 1rem;
    font-weight:600;
    border-color: transparent;
    border-radius: 25px;
}

nav {
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

.right-nav {
    float: right;
}

nav li {
    list-style-type: none;
    display: inline-block;
}

.nav, .nav-logo {
    margin: 8px;
    padding: 3px;
}

#main {
    padding-top: 1rem;
    text-align: center;
}

.title-2{
    font-family: "Zilla Slab";
    font-size: 3rem;
    font-weight: 600;
}

.description {
    margin: 1rem 0;
    font-weight: 400;
}

#book-button {
    background-color: #336589;
}

footer {
    margin-top: 3rem;
    padding: 0.5rem;
    text-align: center;
}

footer span {
    margin: 0 1rem;
    font-weight: 400;
}