#landing h1 {
    padding-top: 0.5rem;
    font-size: 3rem;
}

#landing h3 {
    margin: 1rem;
}

#landing button {
    padding: 0.8rem;
    background-color: mediumaquamarine;
    border: 2px solid white;
    border-radius: 20px;
}