#pre-footer {
    padding: 1rem;
    color: white;
    background-color: #002540;
}

#pre-footer  div{
    display: inline-block;
    width: 20%;
}

#pre-footer div *{
    margin: .3rem;
}

footer {
    padding: .7rem;
}

footer span {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}